{% extends "layout.html" %}
{% import "helpers.html" as h %}

{% block page_title %}{{ country.country + gettext(" - Open Budget Survey - Tracker") }}{% endblock %}

{% block content %}

  <h1>{{ country.country }}</h1>

  <h2>{{ gettext("Open Budget Index") }}</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          {% for score in country.obi_scores %}
            <th scope="row">{{ score.year }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for score in country.obi_scores %}
            <td>{{ score.score }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

  <h2>{{ gettext("Documents") }}</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th></th>
        {% for year in country.documents|reverse %}
          <th>{{ year }}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for doc in docs %}
          <tr>
            <th scope="row">{{ doc.title }}</th>
            {% for years in country.documents|reverse %}
              {% set found = false %}
              {% for items in country.documents[years] %}
                {% if loop.key == doc.title %}
                  {% set item = items|last %}
                  {% set found = true %}
                  <td data-toggle="popover" data-content="{{ h.tooltip(country, item) }}">
                    <span class="badge state state-{{ item.state|replace(' ', '-') }}">
                      <span>{{ h.state(item.state) }}</span>
                    </span>
                    {{ h.state(item.state) }}
                  </td>
                {% endif %}
              {% endfor %}
              {% if not found %}
                <td data-toggle="popover" data-content="{{ h.tooltip(country, item) }}">
                  <span class="badge state state-late">
                    <span>{{ gettext("Not produced") }}</span>
                  </span>
                  {{ gettext("Not produced") }}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h2>{{ gettext("Sites") }}</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>From</th>
          <th>To</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for site in country.sites %}
          <tr>
            <td>{{ site.title }}</td>
            <td>{{ site.type }}</td>
            <td>{{ date_format(site.search_dates.start, "Do MMMM YYYY") }}</td>
            <td>{{ date_format(site.search_dates.end, "Do MMMM YYYY") }}</td>
            <td>
              {% if site.url %}
                <a href="{{ site.url }}" target="_blank">{{ gettext("View") }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
