{% extends "layout.html" %}
{% import "helpers.html" as h %}

{% block page_title %}{{ country.country + gettext(" - Open Budget Survey - Tracker") }}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-9">
      <h1>{{ gettext(country.country) }}</h1>

      <h2>{{ gettext("Open Budget Index") }} <small><a href="/about"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></small></h2>
      <div class="table-responsive">
	<table class="table">
	  <thead>
	    <tr>
	      {% for score in country.obi_scores %}
	      <th scope="row">{{ date_format(Date.parse(score.year), 'YYYY') }}</th>
	      {% endfor %}
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      {% for score in country.obi_scores %}
	      <td>{{ score.score }}</td>
	      {% endfor %}
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row top20">
	<a href="{{ country.library }}" target="_blank" class="btn btn-primary col-md-12">{{ gettext("View the Budget Library") }}</a>
      </div>
      <div class="row top5">
	<a href="/status/{{ country.country }}" class="btn btn-primary col-md-12">{{ gettext("View current status") }}</a>
      </div>
    </div>
  </div>

  <h2>{{ gettext("Historical Information") }}</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th></th>
	{% set obi_latest = country.obi.availability|sort|last %}
	{% for snapshot in country.snapshots|sort %}
          <th>{{ date_format(Date.parse(snapshot.date), 'MMM YYYY')|capitalize }}</th>
        {% endfor %}
	<th>OBS{% if obi_latest %} {{ date_format(Date.parse(obi_latest), 'YYYY') }}{% endif %}</th>
      </thead>
      <tbody>
        {% for doc in docs %}
          <tr>
            <th scope="row">{{ gettext(doc.title) }}</th>
	    {% for item in country.snapshots %}
	      {% set snapshot = item.snapshot %}
              {% set cell = undefined %}
	      {% for year in snapshot|reverse %}
                {% if not cell %}
                  {% if doc.title in snapshot[year] %}
                    {% set cell = snapshot[year][doc.title]|first %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if cell %}
                 <td data-toggle="popover" data-content="{{ h.tooltip(country, cell) }}">
                   <span class="badge state state-{{ cell.state|replace(' ', '-') }}">
                   <span>{{ h.state(cell.state) }}</span>
                 </span>
		     {{ h.state(cell.state) }}
                 </td>
              {% else %}
                 <td data-toggle="popover" data-content="{{ h.tooltip(country, doc) }}">
                 <span class="badge state state-not-produced">
                    <span>{{ h.state("not produced") }}</span>
                 </span>
                 {{ h.state("not-produced") }}
                 </td>
               {% endif %}
             {% endfor %}
	    <td>
	      {% if obi_latest %}
	      {% set state = country.obi.availability[obi_latest][doc.title] %}
              <span class="badge state state-{{ state|replace(' ', '-') }}">
                <span>{{ h.state(state) }}</span>
              </span>
              {{ h.state(state) }}
	      {% else %}
              <span class="badge state state-untracked }}">
                <span>{{ gettext("Not tracked") }}</span>
              </span>
              {{ gettext("Not tracked") }}
	      {% endif %}
	    </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
