{% extends "layout.html" %}
{% import "helpers.html" as h %}

{% block page_title %}{{ country.country + gettext(" - Open Budget Survey - Tracker") }}{% endblock %}

{% block content %}

  <h1>{{ gettext(country.country) }}</h1>

  <h2>{{ gettext("Open Budget Index") }}</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          {% for score in country.obi_scores %}
            <th scope="row">{{ date_format(Date.parse(score.year), 'YYYY') }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for score in country.obi_scores %}
            <td>{{ score.score }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

  <h2>{{ gettext("Documents") }}</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th></th>
	{% set obi_latest = country.obi.availability|sort|last %}
	{% for snapshot in country.snapshots|sort %}
          <th>{{ date_format(Date.parse(snapshot.date), 'MMM YYYY')|capitalize }}</th>
        {% endfor %}
	<th>OBS {{ date_format(Date.parse(obi_latest), 'YYYY') }}</th>
      </thead>
      <tbody>
        {% for doc in docs %}
          <tr>
            <th scope="row">{{ gettext(doc.title) }}</th>
	    {% for item in country.snapshots %}
	      {% set snapshot = item.snapshot %}
              {% set cell = undefined %}
	      {% for year in snapshot|reverse %}
                {% if not cell %}
                  {% if doc.title in snapshot[year] %}
                    {% set cell = snapshot[year][doc.title]|last %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if cell %}
                 <td data-toggle="popover" data-content="{{ h.tooltip(country, cell) }}">
                   <span class="badge state state-{{ cell.state|replace(' ', '-') }}">
                   <span>{{ h.state(cell.state) }}</span>
                 </span>
		     {{ h.state(cell.state) }}
                 </td>
              {% else %}
                 <td data-toggle="popover" data-content="{{ h.tooltip(country, doc) }}">
                 <span class="badge state state-not-produced">
                    <span>{{ h.state("not produced") }}</span>
                 </span>
                 {{ h.state("not-produced") }}
                 </td>
               {% endif %}
             {% endfor %}
	    <td>
	      {% if obi_latest %}
	      {% set state = country.obi.availability[obi_latest][doc.title] %}
              <span class="badge state state-{{ state|replace(' ', '-') }}">
                <span>{{ h.state(state) }}</span>
              </span>
              {{ h.state(state) }}
	      {% else %}
              <span class="badge state state-untracked }}">
                <span>{{ gettext("Not tracked") }}</span>
              </span>
              {{ gettext("Not tracked") }}
	      {% endif %}
	    </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
