{% extends "layout.html" %}

{% block page_title %}{{ gettext("Open Budget Survey") }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">{{ gettext("Latest country information") }}</div>
        {#<div class="panel-body">
          <form id="search-form" class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-search"></span>
                </div>
                <input type="text" name="q" class="form-control" value="{{ q }}" placeholder="{{ gettext("Filter countries") }}">
              </div>
            </div>
          </form>
        </div>#}
        <div class="table-responsive">
          <table id="overview-table" class="table table-hover">
            <colgroup>
              <col width="24%">
              <col width="9.5%">
              <col width="9.5%">
              <col width="9.5%">
              <col width="9.5%">
              <col width="9.5%">
              <col width="9.5%">
              <col width="9.5%">
              <col width="9.5%">
            </colgroup>
            <thead class="header">
              <tr>
                <th>{{ gettext("Country") }}</th>
                <th class="text-center">{{ gettext("Pre-Budget Statement") }}</th>
                <th class="text-center">{{ gettext("Executive's Budget Proposal") }}</th>
                <th class="text-center">{{ gettext("Enacted Budget") }}</th>
                <th class="text-center">{{ gettext("Citizens Budget") }}</th>
                <th class="text-center">{{ gettext("In-Year Reports") }}</th>
                <th class="text-center">{{ gettext("Mid-Year Review") }}</th>
                <th class="text-center">{{ gettext("Year-End Report") }}</th>
                <th class="text-center">{{ gettext("Audit Report") }}</th>
              </tr>
            </thead>
            <tbody>
              {% for country in countries %}
                {% set code = country.code|lower %}
                <tr data-search="{{ country.country|lower }}" data-json="{{ country|json }}">
                  <td><a href="/country/{{ code }}">{{ country.country }}</a></td>
                  {% for cell in country.cells %}
                    <td class="text-center">
                      <span class="badge state state-{{ cell.state }}" data-toggle="tooltip" title="{{ cell.state|capitalize }}">
                        <span>{{ cell.state|capitalize }}</span>
                      </span>
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
              <tr class="empty text-muted" style="display:none">
                <td></td>
                <td colspan="9">
                  {{ gettext("No countries match your search") }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">{{ gettext("About this site") }}</div>
        <div class="panel-body">
          {{ gettext("The Open Budget Survey is a comprehensive analysis and survey that evaluates whether governments give the public access to budget information and opportunities to participate in the budget process at the national level. The Survey also assesses the capacity and independence of formal oversight institutions. The IBP works with civil society partners in 100 countries to collect the data for the Survey.") }}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">{{ gettext("Key") }}</div>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge state state-available"><span>{{ gettext("Available") }}</span></span>
            {{ gettext("Available") }}
          </li>
          <li class="list-group-item">
            <span class="badge state state-waiting"><span>{{ gettext("Waiting") }}</span></span>
            {{ gettext("Waiting") }}
          </li>
          <li class="list-group-item">
            <span class="badge state state-late"><span>{{ gettext("Late") }}</span></span>
            {{ gettext("Late") }}
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
