<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang_dir }}">
<head>

  <title>{% block page_title %}{% endblock %}</title>

  {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  {% block head %}
    <link rel="stylesheet" href="{{ asset('/styles/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/app.css') }}">
    <link rel="shortcut icon" href="/favicon.ico">
  {% endblock %}

  {% block extrahead %}{% endblock%}

  {% block tracking %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-11687423-2', 'auto');
    ga('send', 'pageview');
  </script>
  {% endblock %}
</head>
<body>

  {% block header %}
    <header class="container">
      <a href="/" class="logo">
        <span>{{ gettext("Open Budget Survey: Data Explorer") }}</span>
        <i>{{ gettext("Monitoring the Public Availability of Key Government Budget Documents") }}</i>
      </a>
      <a href="http://internationalbudget.org/" class="ibp-logo">
        <span>{{ gettext("International Budget Parternship: Open Budgets. Transform Lives.") }}</span>
      </a>
    </header>
    <nav class="main">
      <ul class="container">
        <li><a href="/">{{ gettext("Home") }}</a></li>
        <li>
	  <a href="/datagathering">{{ gettext("Gathering the Data") }}</a>
	</li>
	<li><a href="/publications">{{ gettext("Publications") }}</a></li>
        <li><a href="/press">{{ gettext("Press room") }}</a></li>
        <li><a href="/about">{{ gettext("About this site") }}</a></li>
      </ul>
    </nav>
  {% endblock %}

  <div class="container">
    <div class="row">
      <div class="col-md-7">{% block shortinfo %}{% endblock%}</div>
      <div class="col-md-5">
	<nav class="navbar">
	  <ul class="languages nav navbar-nav navbar-right">
	    <li><img src="{{ asset( '/images/language-icon.png') }}"></li>
	    <li><a href="/locale/ar">العربية</a></li>
	    <li><a href="/locale/en">English</a></li>
	    <li><a href="/locale/es">Español</a></li>
	    <li><a href="/locale/fr">Français</a></li>
	    <li><a href="/locale/ru">Русский</a></li>
	  </ul>
	</nav>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="footer">
      <div class="pull-right">
	{{ gettext("Site created by") }}
	<a href="https://okfn.org/">
	  <img src="{{ asset('/images/oki-landscape-rgb.png') }}">
	</a>
      </div>
    </div>
  </div>

  {% block scripts %}
    <script src="{{ asset('/scripts/vendor.js') }}"></script>
    <script src="{{ asset('/scripts/app.js') }}"></script>
  {% endblock %}

</body>
</html>
