<!DOCTYPE html>
<html lang="en">
<head>

  <title>{% block page_title %}{% endblock %}</title>

  {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  {% block head %}
    <link rel="stylesheet" href="/vendor/bootstrap-3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="shortcut icon" href="/favicon.ico">
  {% endblock %}

</head>
<body>

  {% block header %}
    <header class="container">
      <a href="/" class="logo">
        <span>{{ gettext("Open Budget Survey: Data Explorer") }}</span>
      </div>
      <a href="http://internationalbudget.org/" class="ibp-logo">
        <span>{{ gettext("International Budget Parternship: Open Budgets. Transform Lives.") }}</span>
      </a>
    </header>
    <nav class="main">
      <ul class="container">
        <li><a href="/">{{ gettext("Overview") }}</a></li>
      </ul>
    </nav>
  {% endblock %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  {% block scripts %}
    <script src="/vendor/jquery-2.1.1/jquery.min.js"></script>
    <script src="/vendor/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <script src="/vendor/swig-1.4.2/swig.min.js"></script>
    <script src="/vendor/table-fixed-header/table-fixed-header.js"></script>
    <script src="/scripts/app.js"></script>
  {% endblock %}

</body>
</html>
