<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ gettext("Close") }}</span></button>
        <h4 class="modal-title">{{ country }}</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <a href="/country/{{ code }}" class="btn btn-primary">{{ gettext("More info") }}</a>
      </div>
    </div>
  </div>
</div>
