{% import "helpers.html" as h %}

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ gettext("Close") }}</span></button>
      <h4 class="modal-title">{{ country.country }}</h4>
    </div>
    {% if country.obi_scores %}
      <div class="modal-body">
        <p><strong>Open Budget Index ({{ country.obi_scores|last.year }}):</strong> {{ country.obi_scores|last.score }}/100</p>
      </div>
    {% endif %}
    <table class="table table-hover modal-table">
      <colgroup>
        <col width="40%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
      </colgroup>
      <thead>
        <tr>
          <th>{{ gettext("Document") }}</th>
          <th>{{ gettext("Current Status") }}</th>
          <th>{{ gettext("Date of Publication") }}</th>
          <th><span class="text-muted">{{ gettext("Next Publishing Period") }}</span></th>
        </tr>
      </thead>
      <tbody>
        {% for doc in docs %}
          {% set cells = country.documents|last[doc.title] %}
          <tr>
            <th scope="row">
              {{ doc.title }}
            </th>
            {% if cells %}
              <td>
                <span class="badge state state-{{ cells|last.state|replace(' ', '-') }}">
                  <span>{{ h.state(cells|last.state) }}</span>
                </span>
                {{ h.state(cells|last.state) }}
              </td>
              <td>
                {% if cells|last.date_published %}
                {{ cells|last.date_published }}
                {% else %}
                <span class="text-muted">
                  {{ gettext("Unavailable") }}
                </span>
                {% endif %}
              </td>
              <td>
                <span class="text-muted">
                  {#
                  Special cases:
                  * In-Year Report
                  * Citizen's Budget

                  For these next publication should just be described with
                  static text since they cannot be computed and are dependent
                  on each government's budget cycle.
                  #}
                  {% set static_expected = {
                      'in-year report': 'Publishing period for each report is one to three months after a particular month/quarter ends.',
                      "citizen's budget": 'Same as either the Executive Budget Proposal or Enacted Budget.' }
                  %}
                  {{ static_expected[doc.title|lower]|default(cells|last.date_expected)|default(gettext("Unavailable")) }}
                </span>
              </td>
            {% else %}
              <td>
                <span class="badge state state-late">
                  <span>{{ gettext("Not produced") }}</span>
                </span>
                {{ gettext("Not produced") }}
              </td>
              <td>
                <span class="text-muted">{{ gettext("Unavailable") }}</span>
              </td>
              <td>
                <span class="text-muted">{{ gettext("Unavailable") }}</span>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="modal-footer">
      <a href="https://drive.google.com/a/okfn.org/folderview?pli=1&ddrp=1&id=0ByA9wmvBrAnZN3ZrdzNzcS1JZzg#" class="btn btn-primary">{{ gettext("View the Budget Library") }}</a>
      <a href="/country/{{ country.country }}" class="btn btn-primary">{{ gettext("View historical information") }}</a>
    </div>
  </div>
</div>
