{% extends "layout.html" %}

{% block page_title %}{{ gettext("Publications - Open Budget Survey - Tracker") }}{% endblock %}

{% block extrahead %}
<link rel="profile" href="http://microformats.org/profile/hcard">
{% endblock%}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <h2>{{ gettext("Reports") }}</h2>
    <ul>
      <li>
	<a href="{{ asset('/pdfs/sept_2014_obstracker_report_'+lang+'.pdf') }}">September 2014 {{ gettext("Open Budget Survey Tracker Report") }}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>{{ gettext("Updates") }}</h2>
    <ul>
      <li>
	<a href="/updates/2014-12">December 2014 {{ gettext("Open Budget Survey Tracker Update") }}</a>
      </li>
      <li>
	<a href="/updates/2014-11">November 2014 {{ gettext("Open Budget Survey Tracker Update") }}</a>
      </li>
      <li>
	<a href="/updates/2014-10">October 2014 {{ gettext("Open Budget Survey Tracker Update") }}</a>
      </li>
      <li>
	<a href="/updates/2014-09">September 2014 {{ gettext("Open Budget Survey Tracker Update") }}</a>
      </li>
      <li>
	<a href="/updates/2014-08">August 2014 {{ gettext("Open Budget Survey Tracker Update") }}</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
